<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <h1>ENCUESTA</h1>
    <form action="/submit" method="post">
        {% for pregunta in preguntas %}
            <label>{{ pregunta }}</label><br>
            <input type="text" name="{{ pregunta }}" required><br><br>
        {% endfor %}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
